{% extends "base.html" %}
{% load static %}




{% block content %}
<!-- ============================================== HEADER : END ============================================== --> 
<div class="outer-top-ts top-banner">
    <div class="container">
    <img class="img-responsive" src="assets/images/banners/top-banner.png" alt=""></div>
    </div>
    <div class="body-content outer-top-ts" id="top-banner-and-menu">
      <div class="container">
    <div class="slider-section">
     
          <!-- ============================================== SIDEBAR ============================================== -->
          <div class="col-xs-12 col-sm-3 col-md-2 sidebar"> 
            
            <!-- ================================== TOP NAVIGATION ================================== -->
            <div class="side-menu side-menu-inner animate-dropdown outer-bottom-xs">
              <nav class="yamm megamenu-horizontal">
                
                <ul class="nav">
                  {% for category in categories  %}
                  <li class="dropdown menu-item" > 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category }}</a>
                    <ul class="dropdown-menu mega-menu">
                      <li class="yamm-content">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                              {% for subcategory in category.subcategories.all %}
                              <li><a href="{% url "index:shop_subcategory" subcategory.slug %}">{{ subcategory.name }}</a></li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        <!-- /.row --> 
                      </li>
                      <!-- /.yamm-content -->
                    </ul>
                    {% endfor %}
                    <!-- /.dropdown-menu --> </li>
                  <!-- /.menu-item -->
                  
                  
                  
                </ul>
                {% comment %} <ul class="nav">
                  <li class="menu-item"> <a href="#">On Sale!  <span>7584</span></a></li>
                  {% for category in categories  %}<div class="row">
                  <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clothing</a>
                    {% for subcategory in category.subcategories.all %}
                            <li class="dropdown menu-item">
                              <a href="{% url "index:shop_subcategory" subcategory.slug %}" class="dropdown-toggle" data-toggle="dropdown">{{ subcategory.name }}</a>
                            </li>
                            {% endfor %}
                    <ul class="dropdown-menu mega-menu">
                      <li class="yamm-content">
                        
                          
                            
                          </div>
                          <!-- /.row --> 
                        </li>
                        {% endfor %}
                      <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu --> </li>
                  <!-- /.menu-item -->
                  
                  
                  
                </ul> {% endcomment %}
                <!-- /.nav --> 
              </nav>
              <!-- /.megamenu-horizontal --> 
            </div>
                
            <!-- /.side-menu --> 
            <!-- ================================== TOP NAVIGATION : END ================================== --> 
           </div>
           
          <!-- /.sidemenu-holder --> 
          
           
          
          <!-- ============================================== SIDEBAR : END ============================================== --> 
      
          <div class="col-xs-12 col-sm-9 col-md-10 homebanner-holder"> 
          <div id="hero">
              <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                <div class="item" style="background-image: url({% static "images/sliders/03.jpg" %});">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                      <div class="slider-header fadeInDown-1">Top Brands</div>
                      <div class="big-text fadeInDown-1"> New Collections </div>
                      <div class="excerpt fadeInDown-2 hidden-xs"> <span>Lorem ipsum dolor sit amet, consectetur adipisicing.</span> </div>
                      <div class="button-holder fadeInDown-3"> <a href="{% url "index:shop" %}" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                    </div>
                    <!-- /.caption --> 
                  </div>
                  <!-- /.container-fluid --> 
                </div>
                <!-- /.item -->
                
                <div class="item" style="background-image: url({% static "images/sliders/01.jpg" %});">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                      <div class="slider-header fadeInDown-1">Spring 2019</div>
                      <div class="big-text fadeInDown-1"> Women Fashion </div>
                      <div class="excerpt fadeInDown-2 hidden-xs"> <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</span> </div>
                      <div class="button-holder fadeInDown-3"> <a href="{% url "index:shop" %}" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                    </div>
                    <!-- /.caption --> 
                  </div>
                  <!-- /.container-fluid --> 
                </div>
                <!-- /.item --> 
                
              </div>
              <!-- /.owl-carousel --> 
            </div>
          </div>
        </div>
         </div>
         <div class="container">
          <div class="row">
          <!-- ============================================== CONTENT ============================================== -->
          <div class="col-xs-12 col-sm-12 col-md-12"> 
            <!-- ========================================== SECTION – HERO ========================================= -->
            
            
            
            <!-- ========================================= SECTION – HERO : END ========================================= --> 
            
            
              <!-- ============================================== STORES SECTION ============================================== -->
            
            <!-- ============================================== stores : END ============================================== -->
            
            
             <!-- ============================================== WIDE PRODUCTS ============================================== -->
            <div class="wide-banners wow fadeInUp outer-bottom-bs">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="assets/images/banners/home-banner1.jpg" alt=""> </div>
                  </div>
                  <!-- /.wide-banner --> 
                </div>
                
                <div class="col-md-6 col-sm-6">
                  <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="assets/images/banners/home-banner3.jpg" alt=""> </div>
                  </div>
                  <!-- /.wide-banner --> 
                </div>
                </div>
    
            </div>
            <!-- /.wide-banners --> 
            
            <!-- ============================================== WIDE PRODUCTS : END ============================================== --> 
            
    
            
           
            <!-- ============================================== WIDE PRODUCTS ============================================== -->
            <div class="wide-banners wow fadeInUp outer-bottom-bs">
              <div class="row">
                <div class="col-md-12">
                  <div class="cnt-strip">
                    <div class="image1"> <img class="img-responsive" src="assets/images/banners/home-banner.jpg" alt=""> </div>
                    <div class="strip strip-text">
                      <div class="strip-inner">
                        <h2 class="text-right">Amazing Sunglasses<br>
                          <span class="shopping-needs">Get 40% off on selected items</span></h2>
                      </div>
                    </div>
                    <div class="new-label">
                      <div class="text">NEW</div>
                    </div>
                    <!-- /.new-label --> 
                  </div>
                  <!-- /.wide-banner --> 
                </div>
                <!-- /.col --> 
                
                
              </div>
              <!-- /.row --> 
            </div>
            <!-- /.wide-banners --> 
            <!-- ============================================== WIDE PRODUCTS : END ============================================== --> 
            </div>
            </div>
            </div>
            
        
    
            <!-- ============================================== FEATURED PRODUCTS : END ============================================== --> 
              <div class="container">  
              <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12"> 
            <!-- ============================================== BLOG SLIDER ============================================== -->
            <section class="section blog-section outer-bottom-xs wow fadeInUp">
              <h3 class="section-title">Останні пости</h3>
              <div class="latest-blog">
              <div class="blog-slider-container outer-top-xs">
                <div class="owl-carousel blog-slider custom-carousel">
                 
                  {% for related_post in related_posts %}
                  <div class="item">
                    <div class="blog-post">
                      <div class="blog-post-image">
                        <div class="image"> 
                          <a href="{% url 'blog:blog_details' related_post.slug %}">
                            <img src="{{ related_post.image.url }}" alt="{{ related_post.title }}"></a> 
                          </div>
                        </div>
                        <!-- /.blog-post-image -->
                        
                        <div class="blog-post-info text-left">
                          <h3 class="name"><a href="{% url 'blog:blog_details' related_post.slug %}">{{ related_post.title }}</a></h3>
                          <span class="info">Додано: {{ related_post.autor }} &nbsp;|&nbsp; {{ related_post.created_at|date:"d.m.Y" }} </span>
                          <p class="text">{{ related_post.content|truncatewords:20 }}</p>
                        </div>
                        <!-- /.blog-post-info --> 
                        
                      </div>
                      <!-- /.blog-post --> 
                    </div>
                    {% endfor %}
                  <!-- /.item -->
                  
                  
                  
                  
                  
                </div>
                <!-- /.owl-carousel --> 
              </div>
              <!-- /.blog-slider-container --> 
              </div>
            </section>
            <!-- /.section --> 
            <!-- ============================================== BLOG SLIDER : END ============================================== --> 
             
            </div>
           </div> 
           </div>
{% endblock content %}

