{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url "index:home" %}">Головна</a></li>
				<li class='active'>Умови</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div>
<div class="body-content outer-top-ts">
	<div class="container">
    <div class="row">
<div class="col-md-12">
   
    <div class="terms-conditions-page">
			<div class="row">
				<div class="col-md-12 terms-conditions">
	<h2 class="heading-title">Умови користування</h2>
	<div class="">
		<h3>Угода користувача</h3>
		<ol>
			<p>Викладений нижче текст Угоди користувача (надалі – «Угода» та/або «Угода»), адресований невизначеному колу осіб, відвідувачам сайту: dealsdot (надалі – «Сайт») та/або мобільного додатку dealsdot (надалі – «Мобільний додаток») та/або інших сервісів (надалі разом іменуються як «Он-лайн платформа dealsdot» та/або «Он-лайн платформа»), при використанні, замовленні, листуванні, телефонній розмові, залишенні відгуків тощо на Он-лайн платформі dealsdot. </p>
			<p>Ця Угода є публічною офертою в розумінні положень чинного законодавства України. Вчинення конклюдентних дій особами (далі іменовані «Користувач»/ «Покупець», а в множині «Користувачі»/ «Покупці»), спрямованих на користування Он-лайн платформою dealsdot вважається безумовним прийняттям (акцептом) усіх положень цієї Угоди. Користувач цим визнає, що акцепт Угоди рівносильний підписанню та укладенню Угоди на умовах, викладених в цій Угоді. У випадку визнання недійсною або нездійсненною будь-якої частини даної Угоди користувача, інші її частини будуть залишатися чинними.</p>
			<p>Угода користувача визначає загальні умови створення особистого кабінету користувача, формування та прийняття замовлення до виконання, доставку та повернення товару, маркетингові аспекти взаємодії Користувача та Он-лайн платформи dealsdot тощо.</p>
			<p>Якщо Ви, як Користувач, не погоджуєтесь із цією Угодою користувача, Ви не повинні користуватися Он-лайн платформою dealsdot. Будь ласка, періодично перевіряйте цю Угоду, оскільки зміни в Угоді вказують на те, що Ви приймаєте їх з моменту внесення таких змін.</p>
			<p>Користувач акцептом цієї Угоди надає згоду на обробку та захист своїх персональних даних, в обсязі, порядку, відповідно до мети та цілей обробки згідно з Положенням про обробку персональних даних (надалі – «Положення» та/або «Положення про обробку і захист персональних даних»).</p>
			<p>Ми цінуємо право Користувача на особисте життя та нерозголошення його персональної інформації. Ця Угода користувача — правило, яким користуються всі Користувачі нашого сервісу, та регламентує збір і використання особистої інформації, яка може бути запитана/отримана при відвідуванні Он-лайн платформи при замовленні, листуванні, телефонній розмові, будь-якій іншій комунікації, при якій здійснюється обмін даними/інформацією. Якщо у Користувача виникнуть питання або проблеми у зв’язку з конфіденційністю, Користувач має бажання відкликати Згоду на використання персональних даних, для цього достатньо надіслати повідомлення електронною поштою, з поміткою в темі листа «Персональні дані» на електронну адресу.</p>
		</ol>
		<h3>КОНТАКТ З ОН-ЛАЙН ПЛАТФОРМОЮ</h3>
		<ol>
			<p>Зв'язок з Он-лайн платформою можливий: </p>
			<li>в електронному вигляді за адресою: sales@dealsdot.com.ua</li>
			<li>за допомогою онлайн-чату, доступного на веб-сайті dealsdot.com.ua</li>
			<li>Запити Користувачів у формі електронної пошти або через онлайн-чат можна надсилати цілодобово, однак обробка таких запитів відбувається в робочі дні.</li>
		</ol>
		<h3>ПЕРСОНАЛЬНІ ДАНІ КОРИСТУВАЧА</h3>
		<ol>
			<p>Он-лайн платформа dealsdot, в разі, коли Користувач робить замовлення, берете участь в акціях, дослідженнях або іншим чином взаємодієте з Он-лайн платформою, Он-лайн платформа збирає як особисту інформацію, так і загальні дані.</p>
			<p>Особиста інформація стосується окремого користувача та обробляється в порядку, межах, з метою, визначених в Положенні про обробку персональних даних Користувача (далі – Положення). При цьому не вимагається реєстрація або надання такої інформації для перегляду Он-лайн платформи та отримання доступу до його змісту.</p>
			<p>Для того щоб зробити замовлення товарів/послуг, брати участь в акціях, дослідженнях або іншим чином взаємодіяти з Он-лайн платформою, ви повинні уважно ознайомитися з вашими правами та обов’язками щодо обробки персональних даних, які зазначені в ст. 8 Законі України «Про захист персональних даних» та Положенні, уважно ознайомитися з даною Угодою користувача та Положенням, а також висловити свою повну згоду з їх умовами.</p>
			<p>Якщо ви не погоджуєтеся з будь-якою з умов даної Угоди користувача та Положення про обробку і захист персональних даних, будь ласка, не надавайте особисту інформацію (персональні дані).</p>
		</ol>
		<h3>ОБРОБКА ПЕРСОНАЛЬНИХ ДАНИХ З МЕТОЮ ПРИДБАВАННЯ ТОВАРУ В КРЕДИТ</h3>
		<ol>
			<p>У доповнення до Положення про обробку і захист персональних даних, на виконання вимог Закону України "Про захист персональних даних" шляхом заповнення на Онлайн-платформі заявки для розгляду можливості придбання товару в кредит та натискання кнопки «Замовлення підтверджую» Користувач надає згоду на обробку вказаних у заявці персональних даних наступними особами: АТ «ПУМБ» (код ЄДРПОУ - 14282829), АТ «ОТП БAНК» (код ЄДРПОУ– 21685166), АТ "УКРСИББАНК" (код ЄДРПОУ– 09807750), ТОВ "ФК"ЦФР" (код ЄДРПОУ– 35725063), АТ "АЛЬФА-БАНК" (код ЄДРПОУ– 23494714), АТ КБ «ПРИВАТБАНК» (код ЄДРПОУ – 14360570), АТ "УНІВЕРСАЛ БАНК" (код ЄДРПОУ – 21133352), та іншим фінансовим установам, що надають можливість кредитування на Он-лайн платформі dealsdot, з метою забезпечення реалізації цивільно-правових відносин, надання/отримання та здійснення розрахунків за придбані товари/послуги, в тому числі шляхом кредитування. </p>
			<p>Цією Угодою Користувач не заперечує щодо перевірки переліченими у цій Угоді фінансовими установами інформації у будь-яких бюро кредитних історій України з метою з’ясування відомостей, які стосуються виконання мною взятих на себе зобов’язань по договорам (в т.ч. кредитним), у випадку наявності таких, тим самим розуміючи, що об’єм інформації, яка буде перевірятися, може включати в себе інформацію, яка стосується банківської таємниці, і з’ясування якої буде такою, яка буде повною та достатньою для розуміння його соціального, майнового стану, платоспроможності та несення можливої подальшої майнової відповідальності, у випадку її необхідності.</p>
			<p>Користувач також погоджується з тим, що Володілець має право надавати доступ та передавати його персональні дані третім особам без будь-яких додаткових повідомлень, не змінюючи при цьому мети їх обробки, визначеної в Положенні та цій Угоді. В тому числі, на перевірку зазначеної Користувачем інформації та не заперечує про передачу для можливого необхідного з'ясування даної інформації третім особам, під якими розумію: фінансові установи, колекторські компанії, оператори мобільного та поштового зв’язку, інші фізичні та/або юридичні особи.</p>
			<p>Користувач надає згоду запитувати та отримувати в бюро кредитних історій, включених до Єдиного реєстру бюро кредитних історій (надалі – «Бюро»), дані та інформацію у вигляді зведених показників, сформованих на основі інформації, що міститься у його кредитній історії та/або на основі інформації доступної з відкритих джерел, від третіх осіб, з використанням доступних Бюро моделей розрахунку, а також на використання зазначеної інформації володільцем та/або третіми особами для визначення та пропонування мені Володільцем в особистому кабінеті на Он-лайн платформі dealsdot https://dealsdot.com.ua/ маркетингових/спеціальних пропозицій(фінансових лімітів) для придбання товарів та/або послуг.</p>
		</ol>
		<h3>ТРЕТІ СТОРОНИ, ЯКІ НАДАЮТЬ ПОСЛУГИ</h3>
		<ol>
			<p>Для виконання та доставки замовлень, надання підтримки споживачів, аналізу даних та інших послуг Користувач надає згоду Он-лайн платформі залучати послуги третіх сторін. Передання персональних даних Користувача для обробки третіми особами здійснюється в межах та на умовах, визначених цією Угодою та в Положенні про обробку і захист персональних даних. </p>
			
		</ol>
		<h3>РОЗГОЛОШЕННЯ ТА ПЕРЕДАННЯ ІНФОРМАЦІЇ</h3>
		<ol>
			<p>Інформація про умови розкриття інформації про персональні дані третім особам міститься в Положенні про обробку персональних даних Користувача. </p>
	
		</ol>
		
	</div>
</div>			</div><!-- /.row -->
		</div>
</div>
</div>
</div>
{% endblock content %}