{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="breadcrumb">
<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url "index:home" %}">Головна</a></li>
				<li class="active">Блог</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div>
    </div>
<div class="body-content blog-page outer-top-ts">
	<div class="container">
		<div class="row">
 <div class="col-xs-12 col-sm-9 col-md-9"> 
        <!-- /.container -->


					<div class="blog-post wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
						<div class="post-image">
							<a href="{% url "blog:blog_details" post.slug %}"><img class="img-responsive" src="{{ post.image.url }}" alt="{{ post.title }}"></a>
						</div>
	<h1>{{ post.title }}</h1>
	<span class="author">{{ post.autor }}</span>
	<span class="review">Коментарів: {{ comment_count }}</span>
	<span class="date-time">{{ post.created_at|date:"d.m.Y" }}</span>
	<p>{{ post.content }}</p>
	
	<div class="social-media">
		<span>share post:</span>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href=""><i class="fa fa-rss"></i></a>
		<a href="" class="hidden-xs"><i class="fa fa-pinterest"></i></a>
	</div>
</div>

					<div class="blog-review wow fadeInUp" style="visibility: hidden; animation-name: none; margin-top: 30px;">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h3 class="title-review-comments">Коментарів: {{ comment_count }}</h3>
		</div>
		{% for comment in comments %}
		<div class="col-md-2 col-sm-2">
			<img src="{{ comment.user.avatar.url }}" alt="Responsive image" class="img-rounded img-responsive">
		</div>
		<div class="col-md-10 col-sm-10 blog-comments outer-bottom-xs">
			<div class="blog-comments inner-bottom-xs">
				<h4>{{ comment.user.username }}</h4>
				<span class="review-action pull-right">
					{{ comment.created_at|date:"d.m.Y / H:i" }}   
					
				</span>
				<p>{{ comment.comment }}</p>
			</div>
		</div>
		{% endfor %}
		
		
	</div>
</div>					<div class="blog-write-comment outer-bottom-xs outer-top-vs">
	<div class="row">
		<div class="col-md-12">
			<h4>Залиште коментар</h4>
		</div>
			{% if error_message %}
		<div class="alert alert-danger">
			{{ error_message }}
		</div>
			{% endif %}

		<div class="col-md-4">
			<form class="register-form" role="form" action="{% url "blog:blog_details" post.slug %}" method="post">
				{% csrf_token %}
				<div class="form-group">
			    <label class="info-title" for="id_name">Ім'я <span>*</span></label>
			    <input type="text" class="form-control unicase-form-control text-input" name="name" id="id_name" placeholder="">
			  </div>
			</div>
			<div class="col-md-4">
				
					<div class="form-group">
						<label class="info-title" for="id_email">Email<span>*</span></label>
						<input type="email" class="form-control unicase-form-control text-input" name="email" id="id_email" placeholder="">
					</div>
					
				</div>
				<div class="col-md-4">
					
						<div class="form-group">
							<label class="info-title" for="id_title">Заголовок <span>*</span></label>
							<input type="text" class="form-control unicase-form-control text-input" name="title" id="id_title" placeholder="">
						</div>
						
					</div>
					<div class="col-md-12">
						
							<div class="form-group">
								<label class="info-title" for="id_comment">Коментар <span>*</span></label>
								<textarea class="form-control unicase-form-control" name="comment" id="id_comment"></textarea>
							</div>
							
						</div>
						<div class="col-md-12  m-t-20">
							<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Залишити коментар</button>
							
							
							
						</div>
					</form>
        </div>
        </div>
</div>
            
<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
	<div class="sidebar-module-container">
				<div class="search-area outer-bottom-small">
<form action="{% url "blog:search" %}" mathod="get">
<div class="control-group" style="position: relative;">
	<input placeholder="Пошук по блогу" name="q" class="search-field" style="padding-right: 40px;"> <!-- Добавляем отступ для кнопки -->
	<button type="submit" class="search-button" style="position: absolute;  top: 50%; transform: translateY(-1200%); border: none; background: none;">
		{% comment %} <i class="fa fa-search"></i> <!-- Иконка поиска --> {% endcomment %}
	</button>
</div> 
</form>
</div>

<div class="home-banner outer-top-n outer-bottom-xs">
<img src="{% static "images/banners/LHS-banner.jpg" %}" alt="Image">
</div>
				<!-- ==============================================CATEGORY============================================== -->
{% comment %} <div class="sidebar-widget outer-bottom-xs">
	<h3 class="section-title">Category</h3>
	<div class="sidebar-widget-body m-t-10">
		<div class="accordion">
	    	<div class="accordion-group">
	            <div class="accordion-heading">
	                <a href="#collapseOne" data-toggle="collapse" class="accordion-toggle collapsed">
	                   Camera
	                </a>
	            </div><!-- /.accordion-heading -->
	            <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
	                <div class="accordion-inner">
	                    <ul>
	                        <li><a href="#">gaming</a></li>
	                        <li><a href="#">office</a></li>
	                        <li><a href="#">kids</a></li>
	                        <li><a href="#">for women</a></li>
	                    </ul>
	                </div><!-- /.accordion-inner -->
	            </div><!-- /.accordion-body -->
	        </div><!-- /.accordion-group -->

	        <div class="accordion-group">
	            <div class="accordion-heading">
	                <a href="#collapseTwo" data-toggle="collapse" class="accordion-toggle collapsed">
	                  Desktops
	                </a>
	            </div><!-- /.accordion-heading -->
	            <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
	                <div class="accordion-inner">
	                    <ul>
	                        <li><a href="#">gaming</a></li>
	                        <li><a href="#">office</a></li>
	                        <li><a href="#">kids</a></li>
	                        <li><a href="#">for women</a></li>
	                    </ul>
	                </div><!-- /.accordion-inner -->
	            </div><!-- /.accordion-body -->
	        </div><!-- /.accordion-group -->

	        <div class="accordion-group">
	            <div class="accordion-heading">
	                <a href="#collapseThree" data-toggle="collapse" class="accordion-toggle collapsed">
	                   Pants
	                </a>
	            </div><!-- /.accordion-heading -->
	            <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
	                <div class="accordion-inner">
	                    <ul>
	                        <li><a href="#">gaming</a></li>
	                        <li><a href="#">office</a></li>
	                        <li><a href="#">kids</a></li>
	                        <li><a href="#">for women</a></li>
	                    </ul>
	                </div><!-- /.accordion-inner -->
	            </div><!-- /.accordion-body -->
	        </div><!-- /.accordion-group -->

	        <div class="accordion-group">
	            <div class="accordion-heading">
	                <a href="#collapseFour" data-toggle="collapse" class="accordion-toggle collapsed">
	                   Bags
	                </a>
	            </div><!-- /.accordion-heading -->
	            <div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
	                <div class="accordion-inner">
	                    <ul>
	                        <li><a href="#">gaming</a></li>
	                        <li><a href="#">office</a></li>
	                        <li><a href="#">kids</a></li>
	                        <li><a href="#">for women</a></li>
	                    </ul>
	                </div><!-- /.accordion-inner -->
	            </div><!-- /.accordion-body -->
	        </div><!-- /.accordion-group -->

	        <div class="accordion-group">
	            <div class="accordion-heading">
	                <a href="#collapseFive" data-toggle="collapse" class="accordion-toggle collapsed">
	                  Hats
	                </a>
	            </div><!-- /.accordion-heading -->
	            <div class="accordion-body collapse" id="collapseFive" style="height: 0px;">
	                <div class="accordion-inner">
	                    <ul>
	                        <li><a href="#">gaming</a></li>
	                        <li><a href="#">office</a></li>
	                        <li><a href="#">kids</a></li>
	                        <li><a href="#">for women</a></li>
	                    </ul>
	                </div><!-- /.accordion-inner -->
	            </div><!-- /.accordion-body -->
	        </div><!-- /.accordion-group -->

	        <div class="accordion-group">
	            <div class="accordion-heading">
	                <a href="#collapseSix" data-toggle="collapse" class="accordion-toggle collapsed">
	                 Accessories
	                </a>
	            </div><!-- /.accordion-heading -->
	            <div class="accordion-body collapse" id="collapseSix" style="height: 0px;">
	                <div class="accordion-inner">
	                    <ul>
	                        <li><a href="#">gaming</a></li>
	                        <li><a href="#">office</a></li>
	                        <li><a href="#">kids</a></li>
	                        <li><a href="#">for women</a></li>
	                    </ul>
	                </div><!-- /.accordion-inner -->
	            </div><!-- /.accordion-body -->
	        </div><!-- /.accordion-group -->

	    </div><!-- /.accordion -->
	</div><!-- /.sidebar-widget-body -->
</div><!-- /.sidebar-widget --> {% endcomment %}
	{% comment %} <!-- ============================================== CATEGORY : END ============================================== -->						<div class="sidebar-widget outer-bottom-xs wow fadeInUp">
    <h3 class="section-title">Tab Widget</h3>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#popular" data-toggle="tab">popular post</a></li>
	  <li><a href="#recent" data-toggle="tab">recent post</a></li>
	</ul>
	<div class="tab-content" style="padding-left:0">
	   <div class="tab-pane active m-t-20" id="popular">
		<div class="blog-post inner-bottom-30 " >
			<img class="img-responsive" src="{% static "images/blog-post/blog_big_01.jpg" %}" alt="">
			<h4><a href="blog-details.html">Simple Blog Post</a></h4>
				<span class="review">6 Comments</span>
			<span class="date-time">12/06/16</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			
		</div>
		<div class="blog-post" >
			<img class="img-responsive" src="assets/images/blog-post/blog_big_02.jpg" alt="">
			<h4><a href="blog-details.html">Simple Blog Post</a></h4>
			<span class="review">6 Comments</span>
			<span class="date-time">23/06/16</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			
		</div>
	</div>

	<div class="tab-pane m-t-20" id="recent">
		<div class="blog-post inner-bottom-30" >
			<img class="img-responsive" src="assets/images/blog-post/blog_big_03.jpg" alt="">
			<h4><a href="blog-details.html">Simple Blog Post</a></h4>
			<span class="review">6 Comments</span>
			<span class="date-time">5/06/16</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			
		</div>
		<div class="blog-post">
			<img class="img-responsive" src="assets/images/blog-post/blog_big_01.jpg" alt="">
			<h4><a href="blog-details.html">Simple Blog Post</a></h4>
			<span class="review">6 Comments</span>
			<span class="date-time">10/07/16</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			
		</div>
	</div>
	</div>
</div> {% endcomment %}
		
            </div>
            
       </div>
       </div>
       </div>   
{% endblock content %}