{% extends "base.html" %}
{% load static %}

{% block content %}
      <div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url "index:home" %}">Головна</a></li>
				<li class='active'>Авторизація</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-ts">
	<div class="container">
    <div class="row">
<div class="col-md-12"> 

      <div class="sign-in-page">
			<div class="row">
				<!-- Sign-in -->			
<div class="col-md-6 col-sm-6 sign-in">
	<h4 class="">Авторизація</h4>
	<p class="">Ласкаво просиво в ваш аккаунт.</p>
	<div class="social-sign-in outer-top-xs">
		<a href="#" class="facebook-sign-in"><i class="fa fa-facebook"></i> Sign In with Facebook</a>
		<a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a>
	</div>
	<form class="register-form outer-top-xs" method="post" role="form" action="{% url "users:login" %}">
		{% csrf_token %}
		
		<div class="form-group">
		    <label class="info-title" for="id_email">Email <span>*</span></label>
		    <input type="email" class="form-control unicase-form-control text-input" name="email" id="id_email" >
		</div>
		<div class="form-group">
		    <label class="info-title" for="id_password">Пароль <span>*</span></label>
		    <input type="password" class="form-control unicase-form-control text-input" name="password" id="id_password" >
		</div>
		<div class="radio outer-xs">
		  	<label>
		    	{% comment %} <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Remember me! {% endcomment %}
		  	</label>
		  	<a href="#" class="forgot-password pull-right">Відновити пароль?</a>
		</div>
	  	<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Вхід</button> 
	</form>					
</div>
<!-- Sign-in -->

			</div><!-- /.row -->
		</div>
        
        </div>
        </div>
        </div>
       
{% endblock content %}